li{
    list-style-type: none;
}
.skills{
    padding:20px 10px;
    margin-bottom: 30px;

}
.skills-web{
    margin-bottom: 30px;
    margin-top:20px;
    width:50%;
    display: inline-block;
    vertical-align: top;
    
}
.skills-web h3{
    margin:20px;
    
}
.skills h4 {
    font-weight: 500;
    padding-top:30px;
    text-transform: capitalize;
    margin-left:20px;
   
}
.skills-center li .bar{
    display: block;
    margin:auto;
    overflow: hidden;
    border:1px solid #219b79;
    width:90%;
}
.bar span {
    background-color:rgba(0,0,0,0.7);
    display:block
}
.bar .ninety{
    width:90%;
    animation: ninety 8s infinite ;
   }
.bar .eighty{
    width:80%;
    animation: eighty 8s infinite ;
   }
   .bar .seventy{
    width:70%;
    animation: seventy 8s infinite ;
   }
   .bar .sixty{
    width:60%;
    animation: sixty 8s infinite;
   }

.bar .fifty{
    width:50%;
    animation: fifty 8s infinite;
}
.bar p {
    color:#49dcb2;
    text-align:right;
    display:block;
    padding-right:10px;
}
@keyframes ninety{
    0%{
        width:0%
    }
    100%{
        width:90%
    }
}
@keyframes eighty{
    0%{
        width:0%
    }
    100%{
        width:80%
    }
}
@keyframes seventy{
    0%{
        width:0%
    }
    100%{
        width:70%
    }
}
@keyframes sixty{
    0%{
        width:0%
    }
    100%{
        width:60%
    }
}
@keyframes fifty{
    0%{
        width:0%
    }
    100%{
        width:50%
    }
}

@media screen and (max-width:660px){

.skills-web{
    margin-bottom: 30px;
    margin-top:20px;
    width:100%;
    display: block;    
    
}
.skills-center h4 {

   text-align: center;
   text-transform: capitalize;
}
}
